<div class="row team-description">
  <div class="container">
    <hr class="star-light">
    <div class="col-xs-12 col-md-6">
      <p>Gruppen består av 6 medlemmer fra forskjellige studieretninger hos Westerdals Oslo ACT.
        Vi dekker studieretninger innenfor programmering, intelligente systemer, e-business og interaksjonsdesign.</p>
      <p>Alle medlemmene har gjennom studieløpet jobbet med Project Software Engineering,
        hvor vi har tilegnet oss kunnskap om verktøyer som Scrum og Git.</p>
      <p>Dette gjør at vi er meget gode på flere prosjekthåndteringsverktøyer og det å jobbe sammen i grupper mot et
        felles mål. Siden det er så stor variasjon i gruppen, er vi også meget trygge på både front og back end
        utvikling.</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <p>Gruppens mål er å levere et fungerende sluttprodukt, av høy kvalitet som kan tas i bruk.
        Gruppen skal sørge for at kunden er tilfreds med produktet.</p>
      <p>Vi er en meget ambisiøs gruppe, som satser på et bra sluttprodukt. Vi ønsker også å oppnå gode karakterer, og
        vil få mest mulig ut av bacheloroppgaven.
        Med de ressursene vi har tilgjengelig i gruppen er vi faglig sterke til å både utvikle og teste produktet.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row group-member-page">
    <% @group_members.order(:id).each do |group_member| %>
        <div class="col-xs-12 col-md-4">
          <%= link_to group_member do %>
              <div class="col-xs-12">
                <%= image_tag(group_member.photo.url, class: 'img-responsive') %>
              </div>
              <div class="col-xs-12 text-center">
                <h2><%= group_member.first_name %> <%= group_member.last_name %></h2>
              </div>
          <% end %>

        </div>

    <% end %>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
$(".group-member-page > div:nth-child(3n)").after("<div class='clearfix'></div>");
</script>

<!--EXAMPLES-->
<%#= image_tag group_member.photo.url (:thumb) %>
<%#= group_member.first_name %>
<%#= group_member.last_name %>
<%#= group_member.phone %>
<%#= group_member.email %>

<%# group_member.links.each do |link| %>
<!--<p><%# link.link_address %></p>-->
<%# end %>

<%#= link_to 'Show', group_member %>
