<div class="container">
  <div class="row group-member-page">
    <% @group_members.order(:id).each do |group_member| %>
        <div class="col-xs-12 col-md-4">
          <%= link_to group_member do %>
              <div class="col-xs-12">
                <%= image_tag(group_member.photo.url, class: 'img-responsive') %>
              </div>
              <div class="col-xs-12 text-center">
                <h2><%= group_member.first_name %> <%= group_member.last_name %></h2>
              </div>
          <% end %>

        </div>

    <% end %>
  </div>
</div>

<!--EXAMPLES-->
<%#= image_tag group_member.photo.url (:thumb) %>
<%#= group_member.first_name %>
<%#= group_member.last_name %>
<%#= group_member.phone %>
<%#= group_member.email %>

<%# group_member.links.each do |link| %>
<!--<p><%# link.link_address %></p>-->
<%# end %>

<%#= link_to 'Show', group_member %>
