<div class="row home-header">
  <div class="inner text-center">
    <h2>VI ER KLARE FOR <br> HOVEDPROSJEKT 2017</h2>
    <input type="button" class="btn btn-primary" value="KONTAKT OSS">
    <div class="fa fa-angle-down text-center"></div>
  </div>

</div>