<div class="row home-header">
  <div class="inner text-center">
    <h2>VI ER KLARE FOR <br> HOVEDPROSJEKT 2017</h2>
    <input type="button" class="btn btn-primary" value="KONTAKT OSS">
    <div class="fa fa-angle-down text-center"></div>
  </div>
</div>

<div class="row home-predescription">
  <div class="container">
    <div class="col-md-3">
      <h4>SKOLE</h4>
      <p>Westerdals ACT</p>
    </div>
    <div class="col-md-3">
      <h4>GRUPPEMEDLEMMER</h4>
      <p>6</p>
    </div>
    <div class="col-md-3">
      <h4>KARAKTER MÅL</h4>
      <p>A</p>
    </div>
    <div class="col-md-3">
      <h4>KONTAKT OSS</h4>
      <p>kontakt@hovedprosjekt.team</p>
    </div>
  </div>
</div>

<div class="row home-our-team">
  <div class="container">

    <h2>MØT TEAMET / <small>vårt mål</small></h2>
    <div class="wrapper">
      <div class="col-md-4 no-padding">
        <img src="https://hd.unsplash.com/photo-1461037506617-211749beac60" alt="" class="img-responsive">
      </div>
      <div class="col-md-8">
        <p>Vi er en gira gjeng på 6 studenter fra Westerdals school of comunication, art & technology. Vi har satt sammen en gruppe fra Programmering, Interaktivt design, E-bussines og Intelligente systemer.</p>
        <p> Vi har som mål å jobbe mest selvstending for å få mest læringsutbytte fra prosjektet. Dette innebærer alt fra planlegging av arkitektur, brukertesting, prosjektstyring, analyse og produksjon av produktet. </p>
        <%= link_to 'Bli kjent med gruppemedlemmene!', group_members_url, type: 'button', class: 'btn btn-success' %>
      </div>
    </div>

  </div>
</div>
<div class="row home-quote">

</div>