<div class="row home-header">
  <div class="inner text-center">
    <h2>VI ER KLARE FOR <br> HOVEDPROSJEKT 2017</h2>
    <input type="button" class="btn btn-primary" value="KONTAKT OSS">
    <div class="fa fa-angle-down text-center"></div>
  </div>
</div>

<div class="row home-predescription">
  <div class="container">
    <div class="col-md-3">
      <h4>SKOLE</h4>
      <p>Westerdals ACT</p>
    </div>
    <div class="col-md-3">
      <h4>GRUPPEMEDLEMMER</h4>
      <p>6</p>
    </div>
    <div class="col-md-3">
      <h4>KARAKTER MÅL</h4>
      <p>A</p>
    </div>
    <div class="col-md-3">
      <h4>KONTAKT OSS</h4>
      <p>kontakt@hovedprosjekt.team</p>
    </div>
  </div>

</div>