<div class="row home-header">
  <div class="inner text-center">
    <h2>VI ER KLARE FOR <br> HOVEDPROSJEKT 2017</h2>
    <%= link_to 'KONTAKT OSS', contact_path, type: 'button', class: 'btn btn-primary' %>
    <div class="fa fa-angle-down text-center"></div>
  </div>
</div>

<div class="row home-predescription">
  <div class="container">
    <div class="col-xs-12 col-md-3">
      <h4><strong>SKOLE</strong></h4>
      <p>Westerdals ACT</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <h4><strong>GRUPPEMEDLEMMER</strong></h4>
      <p>6</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <h4><strong>KARAKTER MÅL</strong></h4>
      <p>A</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <h4><strong>KONTAKT OSS</strong></h4>
      <p>kontakt@hovedprosjekt.team</p>
    </div>
  </div>
</div>

<div class="row home-our-team">
  <div class="container">

    <h2>MØT TEAMET / <small>vårt mål</small></h2>
    <div class="wrapper">
      <div class="col-md-4 no-padding">
        <%= image_tag News.last.photo.url, class: 'img-responsive' %>
        <p>
          <%= News.last.title %>
        </p>
      </div>
      <div class="col-md-8">
        <p>Vi er en gira gjeng på 6 studenter fra Westerdals school of comunication, art & technology. Vi har satt sammen en gruppe fra Programmering, Interaktivt design, E-bussines og Intelligente systemer.</p>
        <p> Vi har som mål å jobbe mest selvstending for å få mest læringsutbytte fra prosjektet. Dette innebærer alt fra planlegging av arkitektur, brukertesting, prosjektstyring, analyse og produksjon av produktet. </p>
        <%= link_to 'Bli kjent med gruppemedlemmene!', group_members_url, type: 'button', class: 'btn btn-success' %>
      </div>
    </div>

  </div>
</div>
<div class="row home-quote">
  <div class="container">
    <div class="inner text-center">
      <h2><i class="fa fa-quote-left fa-1x"></i> if a picture is worth 1000 words,<br> a prototype is worth 1000 meetings <i class="fa fa-quote-right fa-1x"></i></h2>
      <h3>- Tom & David Kelly -</h3>
    </div>
  </div>

</div>
