<div class="container">
  <div class="row team-intro">
    <div class="col-md-6">
      <h2>Hei, jeg heter</h2>
      <h2><strong>ALEXANDER SHIPUNOV</strong></h2>
      <h2>Programmering</h2>
      <div class="media-reference">
        <i class="fa fa-github"></i>
        <i class="fa fa-linkedin"></i>
      </div>
    </div>
  </div>
</div>