/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body{
  background-color:#eee;
}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
.container-yield {
  margin-top: 51px;
}

.no-padding {
  padding: 0;
}

.margin-top {
  margin-top: 25px;
}

.btn-stretch {
  padding-left: 20%;
  padding-right: 20%;
}

.footer-container {
  background-color: #334D5C;
  color: white;
  position: relative;
  .circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #45B29D;
    position: absolute;
    left: 49%;
    top: -10%;

    .fa {
      margin-top: 18px;
    }
  }
  .inner {
    margin-top: 10%;
    margin-bottom: 10%;

  }
}

/*===HOMEPAGE===*/
.home-header {

  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  z-index: 1;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://hd.unsplash.com/photo-1416339684178-3a239570f315");
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.56;
    z-index: -1;
  }
  .inner {
    z-index: 1;
  }
  h2 {
    margin-top: 15%;
  }
  .fa {
    display: block;
    position: absolute;
    bottom: 6%;
    left: 49%;
    font-size: 4em;
  }

}

.home-predescription {
  border-bottom: 4px solid #eee;
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
    div {
      border-left: 3px solid #eee;
    }
  }
}

.home-our-team {
  margin-top: 35px;
  margin-bottom: 35px;

  .wrapper {
    div:nth-child(2) {
      margin-top: 65px;
    }
  }

}

.home-quote {
  background-image: url("https://images.unsplash.com/photo-1473172707857-f9e276582ab6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=06b6df87aa726c340f547cd4fa781002");
  background-size: cover;
  color: white;
  .inner {
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

/*===GROUP_MEMBERS===*/

.group-member-intro {
  margin-top: 25px;
  display:flex;
  .group-member-name-wrapper {
    padding-top: 30px;
    .group-member-name {
      text-transform: uppercase;
      font-size: 60px;
    }
  }
  .no-padding {
    img {
      width: 100%;
    }
  }
}

.group-member-description {
  margin-top: 100px;
  .tab-content {
    padding: 65px;
    background-color: #e7e7e7;
  }
  .nav-tabs {
    border-bottom: 5px solid #334D5C;

    li a, .active a, li a:hover, li a:focus{
      border-bottom:1px solid #334d5c;
      font-weight:bold;

    }
    li a {
      color:black;
      background-color:#e7e7e7;
      padding: 33px 80px;
      margin: 0px;
      border-radius: 0px;
      -webkit-transition: ease-in 0.5s; /* For Safari 3.1 to 6.0 */
      transition: ease-in 0.5s;
    }
    .active a, li a:hover, li a:focus {
      color: white;
      background-color:#334D5C;
      border-color:#334D5c;
      -webkit-transition: ease-out 0.5s; /* For Safari 3.1 to 6.0 */
      transition: ease-out 0.5s;
    }
  }
}

.group-member-page {
  margin-bottom: 45px;
}

/*=== MEDIA QUERIES===*/
@media only screen and (min-width: 320px) and(max-width: 768px) {
  h2,h4 {
    font-size: 15px;
  }
  .gi-2x{font-size:1em;}

  .navbar {
    padding-right: 15px;
    padding-left: 15px;

    .navbar-toggle {
      margin-right: 0px;
    }
  }
  .home-header{
    h2{
      font-size:34px;
      margin-top:50%;
    }
  }
  .home-predescription{
    .container{
      div{ border-right: 3px solid #eee;}
    }
  }
  .group-member-intro{
    .group-member-name-wrapper{
      .group-member-name{
        font-size:30px;
      }
    }
  }
  .group-member-description{
    .nav-tabs {
      li a {
        padding: 20px 10px;
      }
    }
  }

  .footer-container{
    .circle {
      width: 30px;
      height: 30px;
      left:46%;

      .fa {
        margin-top:8px;
      }
    }
  }
}