/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html,
body {
  height: 100%;
}

.container-yield {
  margin-top: 51px;
}

.home-header {

  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  z-index:1;
  &:after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://hd.unsplash.com/photo-1416339684178-3a239570f315");
    background-size:cover;
    width: 100%;
    height: 100%;
    opacity : 0.56;
    z-index: -1;
  }
  .inner{
    z-index:1;
  }
  h2 {
    margin-top: 15%;
    font-size: 4em;
  }
  .fa {
    display: block;
    position: absolute;
    bottom: 6%;
    left: 49%;
    font-size: 4em;
  }

}
.home-predescription{
  .container{
    margin-top:20px;
    margin-bottom:20px;
    div{
      border-left: 2px solid black;
    }
  }
}